*.log
hls_FIRN11Stream/*
!hls_FIRN11Stream/FIR.cpp
!hls_FIRN11Stream/FIR.h
!hls_FIRN11Stream/FIRTester.cpp
!hls_FIRN11Stream/solution1/directives.tcl
hls_FIRN11Stream/vivado_hls.app
vvd_FIRN11Stream/
